*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto 24px;
    gap: 80px;
    position: absolute;
    background: rgba(225, 216, 255, 0.5);
    width: 100vw;
    height: 650px;
    margin: auto 0;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 560px;
    height: 276px;
    transform: rotate(-0.13deg);
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    letter-spacing: 0.03em;
    text-align: left;
    
}
.summer{
    width: 500px;
    height: 144px;
}
span{
    font-family: 'Inter';
    font-weight: 700;
}
p{
    width: 500px;
    height: 108px;
    font-size: 18px;
    font-style: normal;
    line-height: 27px;
    text-align: left;
    font-family: 'Inter';
    color: #212121;
    vertical-align: top;
}

button{
    width: 130.12px;
    height: 53.56px;
    border-radius: 60px;
    padding: 16px 32px;
    background: #000000;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}
button:hover{
    cursor: pointer;
}
.image{
    width: 450px;
    height: 500px;
    transform: rotate(0.13deg);
    background-image: url(Image/vinicius-amnx-amano-vl-sARMHTkQ-unsplash\ 1.jpg);
    background-size: cover;
}
@media (max-width:412px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: 600px;
        position: absolute;
        background: rgba(225, 216, 255, 0.5);
        
        
    }
    .text{
        width: 80%;
        height:50vh; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: 0.03em;
        text-align: start;
    }
    .summer {
        width: 60vw;
        height: 110px;
        color: #212121;

    }
    span{
        font-family: 'Inter';
        font-weight: 700;
    }
    p{
        width: 80vw;
        font-size: 12px;
        font-style: normal;
        line-height: 15px;
        text-align: left;
        font-family: 'Inter';
        color: #212121;
        vertical-align: top;
        margin-top: -25%;
    }
    button{
        width: 100px;
        height: 30px;
        border-radius: 20px;
        padding: 5px 10px;
        background: #000000;
        color: white;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        margin-top: -15%;
    }
    button:hover{
        cursor: pointer;
    }
    .image{
        width: 65vw;
        height: 45vh;
        transform: rotate(0.13deg);
        background-image: url(Image/vinicius-amnx-amano-vl-sARMHTkQ-unsplash\ 1.jpg);
        background-size: cover;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -40%; 
    }
}
@media (width:768px) {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto 18px;
    gap: 40px;
    position: absolute;
    background: rgba(225, 216, 255, 0.5);
    width: 100vw;
    height: 100vh;
    margin: auto;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 400px;
    height: 200px;
    transform: rotate(-0.13deg);
    margin: -10% 40px 0 40px;

}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.03em;
    text-align: left;
    
}
.summer{
    width: 300px;
    height: 100px;
}
span{
    font-family: 'Inter';
    font-weight: 700;
}
p{
    width: 350px;
    height: 86px;
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    text-align: left;
    font-family: 'Inter';
    color: #212121;
    vertical-align: top;
    margin-bottom: 10%;
}

button{
    width: 130px;
    height: 40px;
    border-radius: 60px;
    padding: 10px 24px;
    background: #000000;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px
}
button:hover{
    cursor: pointer;
}
.image{
    width: 65vw;
    height: 70vh;
    transform: rotate(0.13deg);
    background-image: url(Image/vinicius-amnx-amano-vl-sARMHTkQ-unsplash\ 1.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: 40px;
    border-radius: 10px;
}
}